
<!-- HEADER -->
{% include "./layout/header.twig" %}
    
    <!-- MAIN -->
    <main class="main">
       {% block content %}
       {% endblock %}
       
       <div class="c-box">TWIG is o'key</div>
    </main>
    
<!-- FOOTER -->
{% include "./layout/footer.twig" %}
